<section>
  
  <div class="px-8 mx-auto max-w-7xl lg:px-24">
    <div class="flex w-full mx-auto border-y border-white/20 lg:py-12">
      <div class="text-center w-full">
        <h1 class="text-white w-full font-bold text-4xl text-center md:text-8xl">LEWIS MENELAWS</h1>
      </div>
    </div>
  </div>
</section>
