<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Inspiring Developers and Tech Enthusiasts
      </h1>
      <div
        class="mt-8 max-w-2xl prose prose-hover:a:text-blue-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-blue-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:font-mono prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-blue-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <h4>
          Programming professionally for 8 years. I like to create videos that explore the fine line between technical and creative with visual storytelling.
        </h4>
        <p>
          My name is Lewis! You might know me online as <a href="https://youtube.com/channel/@CodingWithLewis">Coding with Lewis</a>, where I have built an audience of over 1,000,000 followers. I like to make videos about programming, technology and the software that controls our lives. I love learning complicated topics and explaining them in a story-driven way.
        </p>

        <p>
          Outside of videos on my channel, I consult with startups and large enterprise companies to help them create organic content that will help them resonate with their audience naturally. I've created videos for brands channels that have reached millions of views per video.
        </p>

        <p>
          I also love talking with other programmers, entrepreneurs and creators. My perspectives are always changing in this fast-paced industry and I made this website to share my thoughts in the rawest form possible. :)
        </p>
      </div>
    </div>
    <div class="mt-12">
      <div class="grid grid-cols-2 col-span-2 gap-4 lg:grid-cols-3">
        <article>
          <img
            class="w-full aspect-square object-cover h-full"
            src="/public/images/1.jpg"
            alt=""
            width="1310"
            height="540"
          />
          <figcaption class="sr-only">
            Lewis Menelaws working at a desk
          </figcaption>
        </article>
        <article class="">
          <img
            class="w-full aspect-square object-cover h-full"
            src="/public/images/2.jpg"
            alt=""
            width="1310"
            height="540"
          />
          <figcaption class="sr-only">
            Lewis typing on a keyboard
          </figcaption>
        </article>
        <article class="">
          <img
            class="w-full aspect-square object-cover h-full"
            src="/public/images/3.jpg"
            alt=""
            width="1310"
            height="540"
          />
          <figcaption class="sr-only">
            Lewis in Chigago!
          </figcaption>
        </article>
      </div>
    </div>
    <div class="max-w-5xl mt-12">
      <h3
        class="text-white mt-4 font-semibold leading-loose text-5xl tracking-tighter">
        More About Me!
      </h3>
      <div
        class="lg:mt-8 max-w-2xl prose hover:prose-a:text-blue-300 prose-a:text-white prose-a:underline prose-blockquote:border-l-2 prose-blockquote:font-light prose-blockquote:text-white/50 prose-code:text-white prose-figcaption:pb-6 prose-figcaption:text-blue-300 prose-figcaption:text-base prose-h1:font-semibold prose-h1:lg:text-8xl prose-h1:text-5xl prose-h1:tracking-tighter prose-h4:lg:text-2xl prose-h4:text-xl prose-headings:font-mono prose-headings:text-white prose-img:aspect-square prose-img:object-cover prose-img:w-full prose-li:lg:text-xl prose-li:marker:text-white prose-li:text-lg prose-mark:bg-blue-300 prose-p:lg:text-xl prose-p:text-lg prose-strong:text-white space-y-6 text-white/70 prose-table:divide-white/20">
        <p>
          I am a proud husband to a beautiful wife. I am based out of Canada 🍁 and was born in Edinburgh, Scotland. My other hobbies is reading (casually), video games, listening to music and film.
        </p>
        <p>
          I went to Lambton College in my hometown to learn programming. I then started a business with my 2 best friends where we built custom software solution for clients as well as marketing services through video and web. I recently left that business to persue my passion for creating content online <a href="https://www.tmrrwinc.com/" target="_blank">but my business partners still are taking it to another level.</a>
        </p>
        <p>
          <a href="https://twitter.com/LewisMenelaws">I tweet often about programming, tech and my life (mostly shitposting).</a> Feel free to follow me there and interact :) would love to get to know you!
        </p>
        <hr />
        <p>
          Lewis Menelaws
          <br />
          <span class="opacity-50 text-xs"
            >Ontario, Canada</span
          >
        </p>
      </div>
    </div>
  </div>
</main>
