<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="overflow-hidden relative">
    <div class="px-8 mx-auto max-w-7xl lg:px-24 py-24">
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Error 404
      </h1>
      <div class="mt-6">
        <a
          class="duration-200 group inline-flex items-center hover:text-blue-300 lg:text-2xl text-white"
          href="/ "
          aria-label="visit project"
          >Go back home smartypants
          <span class="ml-3" aria-hidden="true">
            <svg
              class="w-12 h-5 duration-200 -ml-3 group-hover:ml-6 transform"
              viewBox="0 0 30 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <line
                class="duration-200 group-hover:text-white text-transparent"
                x1="0.315787"
                y1="6.3409"
                x2="29.6842"
                y2="6.3409"
                stroke="currentColor"
                stroke-width="1">
              </line>
              <path
                class="duration-200 group-hover:text-white"
                d="M29.6842 6.00718C28.8953 6.00718 28.1142 5.8518 27.3854 5.54991C26.6565 5.24802 25.9943 4.80553 25.4365 4.24772C24.8787 3.6899 24.4362 3.02767 24.1343 2.29885C23.8324 1.57002 23.677 0.788874 23.677 0"
                stroke="currentColor"
                stroke-width="1">
              </path>
              <path
                class="duration-200 group-hover:text-white"
                d="M29.6842 6.67464C28.8953 6.67464 28.1142 6.83002 27.3854 7.13191C26.6565 7.4338 25.9943 7.87628 25.4365 8.4341C24.8787 8.99192 24.4362 9.65414 24.1343 10.383C23.8324 11.1118 23.677 11.8929 23.677 12.6818"
                stroke="currentColor"
                stroke-width="1">
              </path>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</main>
