<section>
  <div class="max-w-6xl px-8 mx-auto py-12 lg:pt-28">
    <div class="max-w-5xl">
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Overview
      </h1>
    </div>
    <div class="gap-12 grid grid-cols-2 lg:grid-cols-5 md:grid-cols-3 mt-12">
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-semibold text-white">Pages</p><a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/">Home</a
          >
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/pricing"
            >Pricing
          </a>

          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/author">Author</a
          >

          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/newsletter">Newsletter</a
          >
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/projects">Projects</a
          >
        </div>
      </div>

      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-semibold text-white">Blog pages</p>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/">Landing One</a
          >
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/landing-two">Landing two</a
          >
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/landing-three">Landing three</a
          >
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/tags"
            >All tags
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/tags/lexingtonthemes"
            >Tag category
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/rss.xml"
            >RSS
          </a>

          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/posts/1"
            >Normal Blog post
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/posts/2"
            >Blog post with code
          </a>
        </div>
      </div>
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-semibold text-white">Utility Pages</p><a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/terms"
            >Terms Of use
          </a><a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/privacy"
            >Privacy Policy
          </a><a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/404">404</a
          >
        </div>
      </div>
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl font-semibold text-white">Forms Pages</p><a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/contact"
            >Contact
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/signup"
            >Sign up
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/login"
            >Log in
          </a>
          <a
            class="hover:text-blue-300 text-lg py-2 text-zinc-500 lg:py-0 mt-2"
            href="/submit">Submit</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
