<main aria-labelledby="header">
  <div class="px-8 mx-auto max-w-7xl lg:px-24 lg:py-36">
    <div class="text-center">
      <span class="font-semibold text-blue-300 uppercase">
        unlimited access
      </span>
      <h2
        class="mt-6 text-4xl font-medium tracking-tighter text-white xl:text-5xl">
        Unlock all posts
        <span class="lg:block">
          and read Author forever for
          <span class="text-blue-300"> $299</span>
        </span>
      </h2>
      <div class="max-w-3xl mx-auto mt-6">
        <p class="text-xl text-slate-500">
          Get lifetime access to all UI Kits available today, plus any new UI
          Kit we add!
        </p>
      </div>
      <div class="flex flex-col justify-center gap-3 mt-10">
        <div>
          <a
            class="hover:text-white font-medium duration-2 focus:outline-none focus:shadow-none text-blue-300 border md:my-0 px-4 py-2"
            href="#">
            Subscribe to Author
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
