<section>
  <div class="max-w-6xl px-8 mx-auto py-12 lg:py-28">
    <div>
      <div class="max-w-xl">
        <p
          class="ttext-4xl font-medium tracking-tighter text-white xl:text-5xl">
          Style guide
        </p>
      </div>
      <div class="max-w-xl mt-24">
        <div class="pb-12 border-b border-white/20">
          <span class="text-xl mt-6 tracking-tighter font-light text-zinc-400"
            >Typography - Outfit</span
          >
        </div>
        <div class="py-3 space-y-6 mt-12">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-4xl font-medium tracking-tighter text-white xl:text-5xl"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-3xl font-medium tracking-tighter text-white xl:text-4xl"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xl font-semibold text-white lg:text-3xl"
                >Header 3
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-zinc-400 hover:text-white underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-lg font-medium leading-6 text-zinc-400"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-base text-zinc-400"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-white">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-zinc-400">Picture about somethign</span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-white">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="list-decimal text-base list-inside space-y-3 mt-6 text-zinc-400"
                role="list">
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="pb-12 border-b border-white/20 mt-12 lg:mt-24">
        <span class="text-xl mt-6 tracking-tighter font-light text-white"
          >Color palete</span
        >
      </div>
      <div class="grid grid-cols-2 gap-2 lg:grid-cols-3 mt-12">
        <div class="space-y-2">
          <div class="p-6 bg-white border rounded-lg lg:justify-center"></div>
          <div
            class="p-6 bg-black border border-zinc-800 rounded-lg lg:justify-center">
          </div>
        </div>

        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-blue-50"></div>
          <div class="p-6 bg-blue-100 lg:justify-center"></div>
          <div class="p-6 bg-blue-200 lg:justify-center"></div>
          <div class="p-6 bg-blue-300 lg:justify-center"></div>
          <div class="p-6 bg-blue-400 lg:justify-center"></div>
          <div class="p-6 bg-blue-500 lg:justify-center"></div>
          <div class="p-6 bg-blue-600 lg:justify-center"></div>
          <div class="p-6 bg-blue-700 lg:justify-center"></div>
          <div class="p-6 bg-blue-800 lg:justify-center"></div>

          <div class="p-6 rounded-b-lg lg:justify-center bg-blue-900"></div>
        </div>
        <div>
          <div class="p-6 rounded-t-lg lg:justify-center bg-zinc-50"></div>
          <div class="p-6 lg:justify-center bg-zinc-100"></div>
          <div class="p-6 lg:justify-center bg-zinc-200"></div>
          <div class="p-6 lg:justify-center bg-zinc-300"></div>
          <div class="p-6 lg:justify-center bg-zinc-400"></div>
          <div class="p-6 lg:justify-center bg-zinc-500"></div>
          <div class="p-6 lg:justify-center bg-zinc-600"></div>
          <div class="p-6 lg:justify-center bg-zinc-700"></div>
          <div class="p-6 lg:justify-center bg-zinc-800"></div>
          <div class="p-6 lg:justify-center bg-zinc-900"></div>
          <div class="p-6 rounded-b-lg lg:justify-center bg-zinc-950"></div>
        </div>
      </div>
    </div>
  </div>
</section>
