---
import Subscribe from "../forms/Subscribe.astro";
---

<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="px-8 mx-auto max-w-7xl lg:px-24 py-24">
    <div>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tighter">
        Newsletter
      </h1>
      <div class="lg:mt-8 max-w-2xl">
        <p class="text-lg lg:text-2xl text-white">
          Author is a newsletter about tech news and articles, tools and tips
          for UI Designers, Front end developers.
        </p>
      </div>
    </div>
  </div>
</main>
<Subscribe />
